<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Outstanding</th>
      <th>Capital Contribution</th>
      <th>Interest payment</th>
      <th>Installment</th>
      <th>Date</th>
    </tr>
  </thead>
  <tr *ngFor="let payment of payments; let i = index">
    <td>{{ i }}</td>
    <td>{{payment.outstanding.toFixed(2)}}</td>
    <td>{{payment.toCapital.toFixed(2)}}</td>
    <td>{{payment.interest.toFixed(2)}}</td>
    <td>{{(payment.interest + payment.toCapital).toFixed(2)}}</td>
    <td>{{payment.date}}</td>
  </tr>
</table>
